:root {
  --white: #FFF;
  --black: #2E2B29;
  --black-contrast: #110F0E;
  --gray-1: rgba(61, 37, 20, .05);
  --gray-2: rgba(61, 37, 20, .08);
  --gray-3: rgba(61, 37, 20, .12);
  --gray-4: rgba(53, 38, 28, .3);
  --gray-5: rgba(28, 25, 23, .6);
  --green: #22C55E;
  --purple: #6A00F5;
  --purple-contrast: #5800CC;
  --purple-light: rgba(88, 5, 255, .05);
  --yellow-contrast: #FACC15;
  --yellow: rgba(250, 204, 21, .4);
  --yellow-light: #FFFAE5;
  --red: #FF5C33;
  --red-light: #FFEBE5;
  --shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04)
}
.sidebar {
   border-left: 1px solid var(--gray-3);
   padding: 1rem;
   position: sticky;
 }

.option-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  width: 100%;
}

.sidebar-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  position: sticky;
  top: 1rem;
}

:first-child {
 margin-top: 0;
}

.switch-group {
  align-items: center;
  background: var(--gray-2);
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: flex-start;
  padding: .125rem;
}


.switch-group {
  align-items: center;
  background: var(--gray-2);
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: flex-start;
  padding:.125rem
}

.switch-group label {
  align-items: center;
  border-radius: .375rem;
  color: var(--gray-5);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: .75rem;
  font-weight: 500;
  gap: .25rem;
  line-height: 1.15;
  min-height: 1.5rem;
  padding: 0 .375rem;
  transition:all .2s cubic-bezier(.65, .05, .36, 1)
}

.switch-group label:has(input:checked) {
  background-color: var(--white);
  color:var(--black-contrast)
}

.switch-group label:hover {
  color:var(--black)
}

.switch-group label input {
  display: none;
  margin:unset
}

.label, .label-small, .label-large {
  color: var(--black);
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1.15;
}

.control-group {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

button[disabled], input[disabled], select[disabled], textarea[disabled] {
  background: var(--gray-1);
  color: var(--gray-4);
}
.label-large {
  font-size: .875rem;
  font-weight: 700;
}


.threads-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0 -1rem;
  overflow: auto;
  padding: 0 1rem
}

@media (max-width: 540px) {
  .threads-group {
    margin:0 -1.5rem;
    max-height: 40vh;
    padding: 0 1.5rem 1.5rem;
    width: calc(100% + 3rem)
  }
}

.threads-group .thread {
  border-radius: .5rem;
  box-shadow: 0 0 0 1px var(--gray-3) inset;
  display: flex;
  flex-direction: column;
  transition: all .2s cubic-bezier(.65,.05,.36,1)
}

.threads-group .thread.is-active,.threads-group .thread:hover {
  box-shadow: 0 0 0 1px var(--gray-4) inset
}

.threads-group .thread.is-open {
  box-shadow: 0 0 0 1px var(--purple) inset
}

.threads-group .thread .header-group {
  border-bottom: 1px solid var(--gray-3);
  padding: .375rem .5rem
}

.threads-group .thread .header-group button {
  background-color: unset
}

.threads-group .thread .header-group button:hover {
  background-color: var(--gray-2)
}

.threads-group .thread .hint {
  align-items: center;
  background-color: var(--yellow-light);
  border: 1px solid var(--gray-2);
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  font-size: .75rem;
  gap: .5rem;
  line-height: 1.15;
  min-height: 1.75rem;
  padding: .25rem .5rem;
  margin: .8rem .8rem 0
}

.threads-group .thread:not(.is-open) .comments-group .comment:not(:last-child) {
  padding-bottom: 0
}

.threads-group .thread:not(.is-open) .comments-group .comment .comment-content p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  display: -webkit-box
}

.threads-group .thread:not(.is-open) .comments-group .comment .comment-content .button-group {
  display: none
}

.threads-group .thread:not(.is-open) .comments-group .comment .comment-content label {
  display: inherit
}

.threads-group .thread:not(.is-open) .comments-group .comments-count {
  margin-top: .2rem
}

.threads-group .thread .comments-group {
  display: flex;
  flex-direction: column;
  padding: .8rem
}

.threads-group .thread .comments-group .comment {
  display: flex;
  flex-direction: column;
  gap: .125rem
}

.threads-group .thread .comments-group .comment:not(:first-child) {
  border-top: 1px solid var(--gray-3);
  padding-top: .75rem
}

.threads-group .thread .comments-group .comment:not(:last-child) {
  padding-bottom: .75rem
}

.threads-group .thread .comments-group .comment .comment-edit {
  padding: unset
}

.threads-group .thread .comments-group .comment .comment-content {
  display: flex;
  flex-direction: column;
  gap: .625rem
}

.threads-group button {
  font-size: .75rem;
  padding: .25rem .375rem;
  border-radius: .375rem
}

.threads-group .button-group {
  gap: .125rem
}

.threads-group label {
  color: var(--gray-5);
  font-size: .75rem;
  font-weight: 400
}

.threads-group p {
  font-size: .75rem;
  line-height: 1.4;
  margin: 0;
  overflow: hidden
}

.threads-group .label-group {
  -moz-column-gap: .25rem;
  column-gap: .25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.threads-group .label-group label:not(:first-child):before {
  content: "·";
  padding-right: .25rem
}

.threads-group .label-group label:first-of-type {
  font-weight: 700;
  color: var(--black)
}

.threads-group .reply-group,.threads-group .comment-edit {
  display: flex;
  flex-direction: column;
  gap: .375rem;
  padding: .2rem .8rem .8rem
}

.threads-group .reply-group textarea,.threads-group .comment-edit textarea {
  height: 4.5rem;
  resize: none;
  padding: .375rem .625rem;
  line-height: 1.3;
  width: 100%
}

.threads-group .reply-group textarea:focus,.threads-group .reply-group textarea:focus-visible,.threads-group .comment-edit textarea:focus,.threads-group .comment-edit textarea:focus-visible {
  border-color: var(--black)
}

.threads-group .reply-group .flex-row,.threads-group .comment-edit .flex-row {
  -moz-column-gap: .5rem;
  column-gap: .5rem;
  row-gap: .25rem
}

.threads-group .reply-group:not(:has(textarea:focus)) .flex-row {
  display: none
}

.threads-group .reply-group textarea:-moz-placeholder-shown:not(:focus) {
  height: 2rem
}

.threads-group .reply-group textarea:placeholder-shown:not(:focus) {
  height: 2rem
}

.threads-group .reply-group textarea:not(:-moz-placeholder-shown) {
  height: 4.5rem
}

.threads-group .reply-group textarea:not(:placeholder-shown) {
  height: 4.5rem
}

.threads-group .reply-group:has(textarea:not(:-moz-placeholder-shown)) .flex-row {
  display: flex
}

.threads-group .reply-group:has(textarea:not(:placeholder-shown)) .flex-row {
  display: flex
}

.col-group {
  display: flex;
  flex-direction: row
}

@media (max-width: 540px) {
  .col-group {
    flex-direction:column-reverse
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%
}

.sidebar {
  border-left: 1px solid var(--gray-3);
  flex-shrink: 0;
  padding: 1rem;
  position: sticky;
  height: 100vh;
  top: 0;

}

@media (max-width: 540px) {
  .sidebar {
    border-bottom:1px solid var(--gray-3);
    border-left: unset;
    width: 100%;
    height: auto;
    position: unset;
    padding: 1.5rem
  }
}

.sidebar-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  position: sticky;
  top: 1rem
}

.option-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  width: 100%
}

.option-group form,.option-group form input {
  width: 100%
}
button:checked,input:checked,select:checked,textarea:checked {
  accent-color: var(--purple)
}

button.primary,input.primary,select.primary,textarea.primary {
  background: var(--black);
  color: var(--white)
}

button.primary:hover,input.primary:hover,select.primary:hover,textarea.primary:hover {
  background-color: var(--black-contrast)
}

button.primary[disabled],input.primary[disabled],select.primary[disabled],textarea.primary[disabled] {
  background: var(--gray-1);
  color: var(--gray-4)
}

button.is-active,input.is-active,select.is-active,textarea.is-active {
  background: var(--purple);
  color: var(--white)
}

button.is-active:hover,input.is-active:hover,select.is-active:hover,textarea.is-active:hover {
  background-color: var(--purple-contrast);
  color: var(--white)
}
button, input, select, textarea {
  background: var(--gray-2);
  border-radius: .5rem;
  border: none;
  color: var(--black);
  font-family: inherit;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.15;
  margin: none;
  padding: .375rem .625rem;
  transition: all .2s cubic-bezier(.65,.05,.36,1);
}

button:not([disabled]),select:not([disabled]) {
  cursor: pointer
}
input[type=text], textarea {
  background-color: unset;
  border: 1px solid var(--gray-3);
  border-radius: .5rem;
  color: var(--black);
}
.threads-group .reply-group textarea:not(:placeholder-shown) {
  height: 4.5rem;
}
.threads-group .reply-group textarea, .threads-group .comment-edit textarea {
  height: 4.5rem;
  resize: none;
  padding: .375rem .625rem;
  line-height: 1.3;
  width: 100%;
}

.highlight-comment {
  background-color: rgba(255, 255, 0, 0.3); /* 半透明黄色背景 */
  border-bottom: 2px dashed #ffcc00; /* 黄色虚线底边 */
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

  /* Placeholder */
  .is-empty::before {
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Image styling */
  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid var(--purple);
    }
  }

  p {
    word-break: break-all;
  }

  /* Give a remote user a caret */
  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
  }

  /* Render the username above the caret */
  .collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
  }

  /* Thread mark */
  .tiptap-thread,
  .tiptap-thread * {
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .tiptap-thread--block {
    &:first-child {
      margin-top: 0;
    }

    &:not(.tiptap-thread--resolved) {
      > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
        background-color: var(--yellow);

        &:hover,
        &.tiptap-thread--selected,
        &.tiptap-thread--hovered {
          background-color: var(--yellow-contrast);
        }
      }

      :is(p, h1, h2, h3, h4, h5, h6, ul, li) {
        &:not(:has(.tiptap-thread--inline)) {
          background-color: var(--yellow-light);
          border-bottom: 2px dashed var(--yellow-contrast);

          &:hover {
            background-color: var(--yellow);
          }
        }
      }

      &.tiptap-thread--selected,
      &.tiptap-thread--hovered {
        :is(p, h1, h2, h3, h4, h5, h6, ul, li) {
          &:not(:has(.tiptap-thread--inline)) {
            background-color: var(--yellow);
          }
        }
      }
    }
  }

  .tiptap-thread--inline {
    &:not(.tiptap-thread--resolved) {
      border-bottom: 2px dashed var(--yellow-contrast);

      &:hover,
      &.tiptap-thread--selected,
      &.tiptap-thread--hovered {
        background-color: var(--yellow);
      }
    }
  }
}


.tiptap :first-child {
  margin-top: 0
}

.tiptap ul,.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem .4rem
}

.tiptap ul li p,.tiptap ol li p {
  margin-top: .25em;
  margin-bottom: .25em
}

.tiptap h1,.tiptap h2,.tiptap h3,.tiptap h4,.tiptap h5,.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty
}

.tiptap h1,.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem
}

.tiptap h1 {
  font-size: 1.4rem
}

.tiptap h2 {
  font-size: 1.2rem
}

.tiptap h3 {
  font-size: 1.1rem
}

.tiptap h4,.tiptap h5,.tiptap h6 {
  font-size: 1rem
}

.tiptap code {
  background-color: var(--purple-light);
  border-radius: .4rem;
  color: var(--black);
  font-size: .85rem;
  padding: .25em .3em
}

.tiptap pre {
  background: var(--black);
  border-radius: .5rem;
  color: var(--white);
  font-family: JetBrainsMono,monospace;
  margin: 1.5rem 0;
  padding: .75rem 1rem
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: .8rem;
  padding: 0
}

.tiptap mark {
  background-color: #faf594;
  border-radius: .4rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: .1rem .3rem
}

.tiptap blockquote {
  border-left: 3px solid var(--gray-3);
  margin: 1.5rem 0;
  padding-left: 1rem
}

.tiptap hr {
  border: none;
  border-top: 1px solid var(--gray-2);
  margin: 2rem 0
}

.tiptap p {
  word-break: break-all
}

.tiptap .collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal
}

.tiptap .collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: .1rem .3rem;
  position: absolute;
  top: -1.4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap
}

.col-group {
  display: flex;
  flex-direction: row
}

@media (max-width: 540px) {
  .col-group {
    flex-direction:column-reverse
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%
}

.sidebar {
  border-left: 1px solid var(--gray-3);
  flex-shrink: 0;
  padding: 1rem;

  position: sticky;
  height: 100vh;
  top: 0
}

@media (min-width: 800px) {
  .sidebar {
    //width:40rem
  }
}

@media (max-width: 540px) {
  .sidebar {
    border-bottom:1px solid var(--gray-3);
    border-left: unset;
    width: 100%;
    height: auto;
    position: unset;
    padding: 1.5rem
  }
}

.sidebar-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  position: sticky;
  top: 1rem
}

.option-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  width: 100%
}

.option-group form,.option-group form input {
  width: 100%
}

.versions-group {
  border-bottom: 1px solid var(--gray-3);
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: .25rem;
  overflow: auto;
  padding-bottom: 1rem;
  width: 100%
}

@media (max-width: 540px) {
  .versions-group {
    border-bottom:unset;
    flex-direction: row;
    flex: unset;
    padding-bottom: 0
  }

  .versions-group button {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 12rem;
    width: 60vw
  }
}

.versions-group button {
  background-color: unset;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-size: .8125rem;
  font-weight: 500;
  gap: .375rem;
  line-height: 1.15;
  padding: .625rem
}

.versions-group button:hover {
  background-color: var(--gray-3)
}

.versions-group button.is-active {
  background-color: var(--gray-2);
  background: var(--white);
  box-shadow: 0 0 0 1px var(--purple) inset;
  color: var(--purple)
}

.versions-group button.is-active:hover {
  background-color: none
}

.versions-group button span {
  color: var(--gray-5);
  font-size: .75rem;
  font-weight: 400;
  text-align: left
}

body:has(.dialog[data-state=open]) {
  overflow: hidden;
  pointer-events: none
}

.dialog {
  pointer-events: visible;
  display: none
}

.dialog[data-state=open] {
  display: inherit
}

.dialog:before {
  background-color: var(--gray-5);
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100
}

.dialog .sidebar {
  height: 100%;
  position: unset
}

@media (max-width: 540px) {
  .dialog .sidebar {
    height:unset
  }
}

.dialog-content {
  background: #fff;
  border-radius: 1rem;
  height: calc(100% - 1rem);
  left: 50%;
  max-height: 800px;
  max-width: 1200px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 1rem);
  z-index: 101
}

.dialog-content .main {
  overflow: auto
}


.hint {
  align-items: center;
  background-color: var(--yellow-light);
  border-radius: .5rem;
  border: 1px solid var(--gray-2);
  display: flex;
  flex-direction: row;
  font-size: .75rem;
  gap: .25rem;
  line-height: 1.15;
  padding: .3rem .5rem
}

.hint.purple-spinner,.hint.error {
  justify-content: center;
  text-align: center;
  width: 100%
}

.hint .badge {
  background-color: var(--gray-1);
  border: 1px solid var(--gray-3);
  border-radius: 2rem;
  color: var(--gray-5);
  font-size: .625rem;
  font-weight: 700;
  line-height: 1;
  padding: .25rem .5rem
}

.hint.purple-spinner {
  background-color: var(--purple-light)
}

.hint.purple-spinner:after {
  content: "";
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='28px' height='30px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve'><rect x='0' y='10' width='6' height='10' fill='%236A00F5' rx='3' ry='3'><animateTransform attributeType='xml' attributeName='transform' type='translate' values='0 0; 0 5; 0 -5; 0 0' begin='0' dur='0.6s' repeatCount='indefinite'/></rect><rect x='10' y='10' width='6' height='10' fill='%236A00F5' rx='3' ry='3'><animateTransform attributeType='xml' attributeName='transform' type='translate' values='0 0; 0 5; 0 -5; 0 0' begin='0.2s' dur='0.6s' repeatCount='indefinite'/></rect><rect x='20' y='10' width='6' height='10' fill='%236A00F5' rx='3' ry='3'><animateTransform attributeType='xml' attributeName='transform' type='translate' values='0 0; 0 5; 0 -5; 0 0' begin='0.4s' dur='0.6s' repeatCount='indefinite'/></rect></svg>");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1rem;
  width: 1rem
}

.hint.error {
  background-color: var(--red-light)
}
.ProseMirror .search-result {
  background-color: #ffd90080;
}
.ProseMirror .search-result-current {
  background-color: #0dff0080;
}

:is(.dark .ProseMirror) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

